In [8]:
import warnings
warnings.filterwarnings('ignore')

In [9]:
from pathlib import Path
import pandas as pd

In [10]:
# Create a file path for melbourne_listings
melb_data = Path('Resources/melbourne_listings.csv')
melb_full_df = pd.read_csv(melb_data)

# Read in the data.
melb_full_df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1044679652057774327,https://www.airbnb.com/rooms/1044679652057774327,20240316023834,2024-03-18,previous scrape,Jubilee park home,Great location:3mins walking to the large aqua...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,378158616,...,NaN,NaN,NaN,NaN,f,2,2,0,0,NaN
1,38971182,https://www.airbnb.com/rooms/38971182,20240316023834,2024-03-18,city scrape,Furnished accomodation,close to Hawthorn station,NaN,https://a0.muscache.com/pictures/95071a26-902a...,298550539,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
2,1036489765594430755,https://www.airbnb.com/rooms/1036489765594430755,20240316023834,2024-03-18,city scrape,Lovely Ringwood Studio w/ Ensuite,NaN,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,551026724,...,5.00,5.00,5.00,NaN,t,10,0,10,0,1.27
3,28139568,https://www.airbnb.com/rooms/28139568,20240316023834,2024-03-16,previous scrape,Close to Monash Caulfield Short lease!!!,NaN,NaN,https://a0.muscache.com/pictures/48b8ed68-d51c...,212558156,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
4,572431386115618941,https://www.airbnb.com/rooms/572431386115618941,20240316023834,2024-03-16,city scrape,Selina St Kilda - Bed in 4-Bed Dormitory Room,You'll enjoy your time at this cheerful getaway.,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,446636199,...,4.43,4.37,3.97,NaN,t,8,0,4,4,1.21

In [12]:
# Removing irrevalent columns, removed location data except for neighborhood_cleansed and lat, long. Removed host_since as will only look at past years data
melb_filtered_df = melb_full_df.drop(columns=["name", "listing_url", "scrape_id", "last_scraped", "source", "description", "neighborhood_overview", "picture_url", "host_url", "host_name", "host_about", "host_thumbnail_url", "host_picture_url", "host_neighbourhood", "host_listings_count", "host_total_listings_count", "host_verifications", "neighbourhood", "neighbourhood_group_cleansed", "calendar_updated", "calendar_last_scraped", "license", "instant_bookable", "minimum_nights", "maximum_nights", "minimum_minimum_nights", "minimum_maximum_nights", "maximum_minimum_nights", "maximum_maximum_nights", "minimum_nights_avg_ntm", "maximum_nights_avg_ntm", "has_availability", "availability_30", "availability_60", "availability_90", "availability_365", "instant_bookable"])
melb_filtered_df.head()

,id,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1044679652057774327,378158616,2020-12-03,"Box Hill South, Australia",within an hour,100%,79%,f,t,t,...,NaN,NaN,NaN,NaN,NaN,2,2,0,0,NaN
1,38971182,298550539,2019-09-28,NaN,a few days or more,0%,0%,f,t,t,...,NaN,NaN,NaN,NaN,NaN,1,0,1,0,NaN
2,1036489765594430755,551026724,2023-12-14,NaN,NaN,NaN,NaN,NaN,t,t,...,5.0,5.0,5.00,5.00,5.00,10,0,10,0,1.27
3,28139568,212558156,2018-08-30,"Melbourne, Australia",NaN,NaN,NaN,f,t,f,...,NaN,NaN,NaN,NaN,NaN,1,0,1,0,NaN
4,572431386115618941,446636199,2022-02-24,"St Kilda, Australia",within an hour,95%,99%,f,t,t,...,4.0,4.6,4.43,4.37,3.97,8,0,4,4,1.21

In [13]:
#Removing rows with null values in review scores and host_reponse_time
melb_refined_df = melb_filtered_df.dropna()
#melb_refined_df

In [14]:
property_type = melb_refined_df["property_type"].unique()
len(property_type)

70

In [15]:
# Creating clean CSV with melbourne data
melb_refined_df.to_csv('Outputs/Melbourne_refined_listings_cleaned.csv', index=False)

In [16]:
#creating clean csvs with same columns for all locations

locations = ["barossa_valley_sa", 
             "barwon_south_west_vic", 
             "brisbane", 
             "melbourne",
             "mid_north_nsw", 
             "mornington_peninsula_vic", 
             "northern_rivers_nsw",
             "sunshine_coast_qld",
             "sydney",
             "tasmania",
             "wa"
            ]
for location in locations:
    data = Path(f'Resources/{location}_listings.csv')

    full_df = pd.read_csv(data)
    #columns bedrooms and bathrooms are removed due to having no content in barossa_valley or barwon_south_west csvs.
    filtered_df = full_df.drop(columns=["name", "bedrooms", "bathrooms", "listing_url", "scrape_id", "last_scraped", "source", "description", "neighborhood_overview", "picture_url", "host_url", "host_name", "host_about", "host_thumbnail_url", "host_picture_url", "host_neighbourhood", "host_listings_count", "host_total_listings_count", "host_verifications", "neighbourhood", "neighbourhood_group_cleansed", "calendar_updated", "calendar_last_scraped", "license", "instant_bookable", "minimum_nights", "maximum_nights", "minimum_minimum_nights", "minimum_maximum_nights", "maximum_minimum_nights", "maximum_maximum_nights", "minimum_nights_avg_ntm", "maximum_nights_avg_ntm", "has_availability", "availability_30", "availability_60", "availability_90", "availability_365", "instant_bookable"])
    refined_df = filtered_df.dropna()
    refined_df['Location'] = location
    refined_df.to_csv(f'Outputs/australia_wide/{location}_cleaned.csv', index=False)

In [17]:
#concatenate the csvs
#empty dictionary to store dataframes
location_dfs = {}

#read csv files of clean data
for location in locations:
    file_path = f'Outputs/australia_wide/{location}_cleaned.csv'
    location_dfs[location] = pd.read_csv(file_path)

combined_locations_df = pd.concat(location_dfs.values(), ignore_index=True)
    
#create a combined data csv
combined_locations_df.to_csv(f'Outputs/combined_listings_cleaned.csv', index=False)